process.container = 'quay.io/nextflow/bash'

mail {
    smtp.host = secrets.MAIL_ADD
    smtp.port = 587
    smtp.user = secrets.MAIL_NAME
    smtp.password = secrets.MAIL_PASSWORD
    smtp.ssl.protocols = 'TLSv1.2'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}
