process.container = 'quay.io/nextflow/bash'

mail {
    smtp.host = 'mail.privateemail.com'
    smtp.port = 587
    smtp.user = 'support@itsmp.xyz'
    smtp.password = secrets.MAIL_PASSWORD
    smtp.ssl.protocols = 'TLSv1.2'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}
